<div ng-controller="PhoneIndexCtrl">
  <div>
    <ul class="phone-list">
      <li ng-repeat="phone in phones | search:query | orderBy:orderProp" class="each-phone" >
        <div toggle-phone
          edit-content phone="phone" remove-phone="removePhone"
          get-detail="getDetail" edit-phone="editPhone" edit-state="editState">
          <input type="button" value="Hide" class="toggle-btn btn btn-success"/>
          <span ng-show="isOwner(phone)">
            <input type="button" value="edit" class="edit-btn btn btn-success"/>
            <input type="button" value="delete" class="remove-btn btn btn-success"/>
          </span>
          <div class="toggle-area phone-edit" edit-state="editState">
            <img ng-src="http://graph.facebook.com/{{phone.facebookID}}/picture">
            <span class="content-field" ng-hide="editState">{{phone.name}}</span>
            <input class="input-field" ng-show="editState" ng-model="phone.name">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
