/config/database.yml
/public
/manager/.build
/public_2
db/schema.rb

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

Gemfile.lock

/manager/node_modules
../pushServer/node_modules